<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/pagina.css">
    <link rel="stylesheet" href="/stylesheets/misResenas.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <%- include("header") %>

    <section>
    <h1 style="color: white;">
        <%=unUsuario.nombre %>
    </h1>
    <p style="color: white;">
        Email: <%=unUsuario.email %>
    </p>
    <p style="color: white;">
      Fecha de nacimiento: <%=unUsuario.fecha_de_nacimiento %>
  </p>

    <% if( unUsuario.resena.length == 0) { %> 

                <p>Este usuario no tiene reseñas creadas</p>
      <%} else {%>
          Reseñas:
        <% for ( let i=0 ; i< unUsuario.resena.length; i++) { %> 
   
            <h3>
              <%=unUsuario.resena[i].rating %>
            </h3>
          <p style="color: white;">  
      <%=unUsuario.resena[i].resenas %>
    </p>
  
 <% } } %>
</section>
<%- include("footer") %>
    
</body>
</html> 