<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/pagina.css">
    <link rel="stylesheet" href="/stylesheets/misResenas.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <%- include("header") %>

    <div  style="background-color: #030226 ;">
    <h1 style="color: white;">
        <%=unUsuario.nombre %>
    </h1>
</div>
    <p style="color: white;">
        Email: <%=unUsuario.email %>
    </p>
    <p style="color: white;">
      Fecha de nacimiento: <%=unUsuario.fecha_de_nacimiento %>
  </p>

    <% if( unUsuario.resena.length == 0) { %> 
        <div style="height: 50vh;"> 
                <h4 style="color: white;">Este usuario no tiene reseñas creadas</h4>
            </div>
                <%} else {%>



                <h3 style="color: white;">Sus reseñas son:</h3>
        
        <% for ( let i=0 ; i< unUsuario.resena.length; i++) { %> 
   
          <div class="uk-section uk-section-primary uk-preserve-color uk-width-1-2 uk-section-xsmall " style="margin-bottom: 10px; background-color: lightsalmon;" >
            <div class="uk-container">
        
                <div class="uk-panel uk-light uk-margin-medium">
                    <h3 style="text-align: center;">   <%=unUsuario.resena[i].rating %> ★</h3>
                </div>
        
                <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <p>  <%=unUsuario.resena[i].resenas %></p>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
            
        
 <% } } %>

<%- include("footer") %>
    
</body>
</html> 