<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/misResenas.css">
    <link rel="stylesheet" href="/stylesheets/pagina.css">
    <link rel="stylesheet" href="/stylesheets/detallePeli.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("header") %>
  
    <% if (variableUsuario == undefined){ %> 
                   
                <section class="error">

                    <h3 class="titulos" > <%=faltaLogin%> </h3>
                  <br>
                  <br>
                  <br>
                </section>

    <%  } else {  %>

  

<% if (resultado.length == 0) { %> 
           
            <p class="titulos"> Todavia no tienes niguna reseña hecha! Anda al detalle de una pelicula y crea una! Que esperas!
            </p>
            
    <%} else {%>
    <h1 class="titulos">Tus resenas son:</h1>

    <% for (let i = 0; i < resultado.length; i++) { %>
      
        <div class="uk-section uk-section-primary uk-preserve-color uk-width-1-2 uk-section-xsmall " style="margin-bottom: 10px; background-color: lightsalmon;" >
            <div class="uk-container ">
        
                <div class="uk-panel uk-light uk-margin-medium">
                    <h3 style="text-align: center;">    <%=resultado[i].rating%> ★</h3>
                </div>
        
                <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <p>    <%=resultado[i].resenas%></p>
                        </div>
                           <div class="uk-flex-inline"> 
                        <a class="uk-button uk-button-default btn btn-outline-warning nav-link" style="margin-top: 2%;"  href="/usuario/editar/<%=resultado[i].id%>">Editar</a> 
                        
        <form  style= "margin-left: 60%; margin-top: 2%; "  action="/usuario/delete/<%=resultado[i].id%>"  method="POST">
            <input class="uk-button uk-button-default btn btn-outline-warning nav-link" type="submit" value="Borrar">
        </form>
    </div>
   
       
                    </div>
                </div>
        
            </div> 
        </div>
            
      
      
      


    <% }  }} %>
  
<br>

<br>

<br>

    <%- include("footer") %>
      
</body>
</html>